<div class="container-fluid">
  <div class="row-fluid">
  

    <h3>Please Place Your Order</h3>

    <div class="widget-content nopadding">

      <%= form_for @order_request, :html => { class: "form-horizontal", 'parsley-validate' => ''} do |f| %>

        <div class="control-group">
          <label class="control-label">Order Name :</label>
          <div class="controls">
            <%= f.text_field :order_name, class: "span11", placeholder: "Order name", required: true %>
          </div>
        </div>

        <div class="control-group">
          <label class="control-label">Quantity :</label>
          <div class="controls">
            <%= f.text_field :quantity, class: "span11", placeholder: "Quantity", required: true  %>
          </div>
        </div>

        <div class="control-group">
          <label class="control-label">Amount :</label>
          <div class="controls">
            <%= f.text_field :amount, class: "span11", placeholder: "Amount", required: true  %>
          </div>
        </div>

        <div class="control-group">
          <label class="control-label">Country Name :</label>
          <div class="controls">
            <%= f.text_field :country, class: "span11", placeholder: "Country", required: true  %>
          </div>
        </div>

        <div class="control-group">
          <label class="control-label">City Name :</label>
          <div class="controls">
            <%= f.text_field :city, class: "span11", placeholder: "City", required: true  %>
          </div>
        </div>

        <div class="control-group">
          <label class="control-label">Phone No :</label>
          <div class="controls">
            <%= f.text_field :phone, class: "span11", placeholder: "Phone #" %>
          </div>
        </div>

        <div class="control-group">
          <label class="control-label">House Num :</label>
          <div class="controls">
            <%= f.text_field :house_num, class: "span11", placeholder: "House #", required: true  %>
          </div>
        </div>

        <div class="control-group" id="LatiField">
          <label class="control-label">Latitude :</label>
          <div class="controls">
            <%= f.text_field :latitude, class: "span11", placeholder: "Latitude"%>
          </div>
        </div>

        <div class="control-group" id= "LongiField">
          <label class="control-label">Longitude :</label>
          <div class="controls">
            <%= f.text_field :longitude, class: "span11", placeholder: "Longitude" %>
          </div>
        </div>

        <div class="col-sm-12">
          <%= f.submit class: 'btn btn-success' %>
            <div class="pull-right">
              <%= link_to "Cancel", :back, class: "btn btn-danger" %>
            </div>
        </div>
      <% end %>
      </br>
      <div class="col-sm-12">
        <button class="btn btn-primary" onclick="getLocation()"> Send Your Location </button>
      </div>
    </div>
  </div>
</div>